@font-face {
    font-family: 'Neue Plak Wide';
    src: url('NeuePlak-WideBold.eot');
    src: local('Neue Plak Wide Bold'), local('NeuePlak-WideBold'),
        url('NeuePlak-WideBold.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-WideBold.woff2') format('woff2'),
        url('NeuePlak-WideBold.woff') format('woff'),
        url('NeuePlak-WideBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Wide Extra';
    src: url('NeuePlak-WideExtraBlack.eot');
    src: local('Neue Plak Wide Extra Black'), local('NeuePlak-WideExtraBlack'),
        url('NeuePlak-WideExtraBlack.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-WideExtraBlack.woff2') format('woff2'),
        url('NeuePlak-WideExtraBlack.woff') format('woff'),
        url('NeuePlak-WideExtraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Wide';
    src: url('NeuePlak-WideRegular.eot');
    src: local('Neue Plak Wide'), local('NeuePlak-WideRegular'),
        url('NeuePlak-WideRegular.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-WideRegular.woff2') format('woff2'),
        url('NeuePlak-WideRegular.woff') format('woff'),
        url('NeuePlak-WideRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Wide Semi';
    src: url('NeuePlak-WideSemiBold.eot');
    src: local('Neue Plak Wide Semi Bold'), local('NeuePlak-WideSemiBold'),
        url('NeuePlak-WideSemiBold.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-WideSemiBold.woff2') format('woff2'),
        url('NeuePlak-WideSemiBold.woff') format('woff'),
        url('NeuePlak-WideSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Wide';
    src: url('NeuePlak-WideLight.eot');
    src: local('Neue Plak Wide Light'), local('NeuePlak-WideLight'),
        url('NeuePlak-WideLight.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-WideLight.woff2') format('woff2'),
        url('NeuePlak-WideLight.woff') format('woff'),
        url('NeuePlak-WideLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Wide Ultra';
    src: url('NeuePlak-WideUltraLight.eot');
    src: local('Neue Plak Wide Ultra Light'), local('NeuePlak-WideUltraLight'),
        url('NeuePlak-WideUltraLight.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-WideUltraLight.woff2') format('woff2'),
        url('NeuePlak-WideUltraLight.woff') format('woff'),
        url('NeuePlak-WideUltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Wide';
    src: url('NeuePlak-WideThin.eot');
    src: local('Neue Plak Wide Thin'), local('NeuePlak-WideThin'),
        url('NeuePlak-WideThin.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-WideThin.woff2') format('woff2'),
        url('NeuePlak-WideThin.woff') format('woff'),
        url('NeuePlak-WideThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Plak Wide';
    src: url('NeuePlak-WideBlack.eot');
    src: local('Neue Plak Wide Black'), local('NeuePlak-WideBlack'),
        url('NeuePlak-WideBlack.eot?#iefix') format('embedded-opentype'),
        url('NeuePlak-WideBlack.woff2') format('woff2'),
        url('NeuePlak-WideBlack.woff') format('woff'),
        url('NeuePlak-WideBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

